

<!-- Filter Bar -->
<div class="container mt-4">
    <form class="input-group mb-3 justify-content-center">
        <h2 class="header2">Filter by cat or dog:</h2>
        <div class="input-group-append">
            <select class="form-select" id="petTypeSelect">
                <option value="all">All</option>
                <option value="cat">Cat</option>
                <option value="dog">Dog</option>
            </select>
        </div>
    </form>
</div>


<!-- Featured Pets Section -->
<div id= "results" class="container mt-4">
    <h2>Featured Pets</h2>
    <div class="row">
{{#each petsArray}}
    <div class="col-md-4">
        <a href="/pet/{{id}}" style="text-decoration: none; color: inherit;">
            <div class="card mb-4 shadow-sm">
                <img src="{{image}}" class="card-img-top" alt="{{name}}">
                <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{species}}</p>
                    <p class="card-text">{{breed}}</p>
                    <p class="card-text">{{location}}</p>
                </div>
            </div>
        </a>
    </div>
{{/each}}

