<!-- Search Bar -->
<div class="container mt-4 complementary-color"> <!-- Add the complementary color class here -->
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by...">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>
</div>

<!-- Featured Pets Section -->
<div class="container mt-4">
    <h2 class="header2">Featured Pets</h2>
    <div class="row">
        {{#each petsArray}}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="{{image}}" class="card-img-top" alt="{{name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">{{species}}</p>
                        <p class="card-text">{{breed}}</p>
                        <p class="card-text">{{location}}</p>
                        <p class="card-text">{{gender}}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
{{/each}}

